*,
*::before,
*::after {
  margin: 0;
  padding: 5rem;
}

.box {
  height: 10rem;
  width: 10rem;
  background-color: tomato;
  box-shadow: 0.1rem 0.1rem 0.7rem #ccc;
  animation: animate 5s infinite alternate linear;
  position: relative;
  color:white;
  font-size:0.9rem;
  text-align: center;
}

@keyframes animate {
  0% {
    left: 0;
    right: 0;
  }
  25% {
    left: 20rem;
    top: 0;
    background-color: aqua;
  }
  50% {
    top: 20rem;
    left: 20rem;
    background-color: purple;
  }
  75% {
    left: 0;
    top: 20rem;
    background-color: blue;
  }
  100% {
    left: 0;
    top: 0;
  }
}
